{% extends 'index.html' %}
{% block content %}	
	<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
	{% for bookmark in bookmarks %} 
	<div>
		<div class="uk-card uk-card-default">
		    <div class="uk-card-header">
		        <div class="uk-grid-small uk-flex-middle" uk-grid>
		            <div class="uk-width-expand">
		                <h3 class="uk-card-title uk-margin-remove-bottom">{{bookmark.title}}</h3>
		                <p class="uk-text-meta uk-margin-remove-top">{{ bookmark.user }}</p>
		            </div>
		        </div>
		    </div>
		    <div class="uk-card-body">
		    	<p><strong>Work</strong>: {{ bookmark.work.title }}</p>
		        <p><strong>Rating</strong>: {{ bookmark.rating }}</p>
			        {% for type, tag in bookmark.tags.items %} 
				        <dt>{{ type }}</dt>
				        <dd>
				        <span uk-icon="icon: tag"></span> {% for single_tag in tag %}<a href="{{single_tag.url}}" style="padding-left:5px;">{{ single_tag.text }}</a> {% endfor %}
				        </dd>
				    {% endfor %}
		    </div>
		    <div class="uk-card-footer">
		        <a href="/bookmarks/{{bookmark.id}}" class="uk-button uk-button-text">Read more</a>
		    </div>

		</div>  
		</div>      
    {% endfor %}
</div>
{% endblock %}