{% extends 'index.html' %}
{% block content %}	
<div class="uk-child-width-1@m uk-child-width-1@s uk-text-left" uk-grid>
    
<form class="uk-form-horizontal"  method="post" id="workForm" onsubmit="return getCurrentTab()">
    <script>

        function getCurrentTab() {
            var expanded = document.getElementById('toc_link').getAttribute("aria-expanded");
            document.getElementById('redirect_toc').value = expanded;
        }
        
        function removetag(tag, type) {
            document.getElementById("tags_"+tag+"_"+type).remove();
            document.getElementById("tags_"+tag+"_"+type+"_txt").remove();
        }

        function addtag(tag, type) {
            alert(document.getElementById(type+"_tags").innerHTML);
        }

        function tagCheck (e, type) {
            if (e.keyCode == 188) {
                var section = document.getElementById(type+"_tags");
                var final = section.lastChild;
                final.value = final.value.replace(/,\s*$/, "");
                section.removeChild(section.lastChild);
                var wrapper= document.createElement('div');
                wrapper.innerHTML= '<input type="hidden" id="tags_'+final.value+'_'+type+'" name="tags_'+final.value+'_'+type+'" value="{\'url\': \'\', \'tag_type\': \''+type+'\', \'tag_type_id\': \'\', \'text\': \''+final.value+'\'}">';
                var div= wrapper.firstChild;
                section.appendChild(div);
                wrapper.innerHTML = '<span style="margin-left: 5px;" class="uk-badge" id="tags_'+final.value+'_'+type+'_txt">'+final.value+' <span uk-icon="close" onclick="removetag(\''+final.value+'\', \''+type+'\')" id="tags_'+final.value+'_'+type+'_delete"></span></span>  ';
                div = wrapper.firstChild;
                section.appendChild(div);
                final.value = '';
                section.appendChild(final);
                section.lastChild.focus();
            }
        }
        
    </script>
    {% csrf_token %}
    <input type="hidden" name="work_id" value="{{ work.id }}">
    <div class="uk-child-width-1@m uk-child-width-1@s uk-text-left" uk-grid>
        <div class="uk-width-2-3">
            nav back + story title
        </div>
        <div class="uk-text-right uk-width-1-3">
            <input class="uk-button uk-button-default" type="submit" value="Submit"/>
        </div>
    </div>
    <hr/>
        <ul class="uk-subnav uk-subnav-pill uk-subnav-divider uk-flex uk-flex-right" uk-switcher="animation: uk-animation-fade">
            <li><a href="#" id="edit_work_link">Edit Work</a></li>
            <li><a href="#" id="toc_link">Table of Contents</a></li>
        </ul>   
    <input type="hidden" id="redirect_toc" name="redirect_toc">

    <ul class="uk-switcher uk-margin">
        <li>
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Work Type</label>
                    <div class="uk-form-controls">
                        <select class="uk-select uk-form-width-small" name="work_type">
                            {% for item in work_types %}
                                <option value="{{item.url}}" {% if work.work_type == item.url %} selected="selected" {% endif %}>{{ item.type_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Title</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline">
                            <input class="uk-input uk-form-width-large" type="text" name="title" value="{{ work.title }}">
                        </div>
                    </div>
                    
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Summary</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline">
                            <textarea class="uk-textarea uk-form-width-large" rows="5" placeholder="Summary" name="summary">{{ work.summary }}</textarea>
                        </div>
                    </div>
                    
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Notes</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline">
                            <textarea class="uk-textarea uk-form-width-large" rows="5" placeholder="Work notes" name="notes">{{ work.notes }}</textarea>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Complete?</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline">
                            <label><input class="uk-checkbox" type="checkbox" name="is_complete" {% if work.is_complete %} checked {% endif %}> </label>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Cover</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline">
                            <input class="uk-input uk-form-width-large" type="text" name="cover_url" value="{{ work.cover_url }}">
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Cover Alt Text</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline">
                            <input class="uk-input uk-form-width-large" type="text" name="cover_alt_text" value="{{ work.cover_alt_text }}">
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Allow Comments?</label>
                    <div class="uk-form-controls">
                        <select class="uk-select uk-form-width-large" name="comments_permitted">                    
                            <option {% if work.anon_comments_permitted and work.comments_permitted %} selected {% endif %}>All</option>
                            <option {% if work.anon_comments_permitted == False and work.comments_permitted %} selected {% endif %}>Registered users only</option>
                            <option {% if not work.anon_comments_permitted and not work.comments_permitted %} selected {% endif %}>None</option>

                        </select>
                    </div>
                </div>
                {% for type, tag in tags.items %}
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">{{ type }}</label>
                    <div class="uk-form-controls">                
                        <div class="uk-inline">
                            <div id="{{ type }}_tags">
                            {% for single_tag in tag %}
                                <input type="hidden" id="tags_{{ single_tag.text }}_{{ type }}" name="tags_{{ single_tag.text }}_{{ type }}" value="{{ single_tag }}">
                                <span class="uk-badge" id="tags_{{ single_tag.text }}_{{ type }}_txt">{{ single_tag.text }} <span uk-icon="close" onclick="removetag('{{single_tag.text}}', '{{type}}')" id="tags_{{ single_tag.text }}_{{ type }}_delete"></span></span>
                            {% endfor %}
                            <input style="margin-left: 5px;" class="uk-input uk-form-width-small uk-form-small uk-form-blank" type="text" placeholder="New tag..." id="{{ type }}_new_tag" onkeyup="tagCheck(event, '{{type}}')"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </fieldset>
        </li>
        <li>
            <script>
                var util = UIkit.util;

                util.ready(function () {

                    util.on(document.body, 'stop', function (e, sortable, el) {
                        var list = document.getElementById("chapters_list").getElementsByTagName("li");
                        var tracking = 1;
                        for (let item of list) {
                            var child = item.querySelector('.chapters_tracker')
                            child.value = tracking;
                            tracking += 1;
                        }
                    });
                });
            </script>
            <ul class="uk-grid-small uk-child-width-1 uk-text-left" uk-sortable="handle: .uk-sortable-handle" uk-grid id="chapters_list">
                {% for chapter in chapters %}
                <li id="chapters_list_{{chapter.id}}">
                    <div class="uk-card uk-card-hover uk-card-body uk-grid-small uk-child-width-1-4 uk-text-left" uk-grid>
                        <div class="uk-sortable-handle">
                            <span class="uk-margin-small-right" uk-icon="icon: table"></span>Chapter {{chapter.number}}: {{chapter.title}}
                        </div>
                        <div><a href="/works/{{work.id}}/chapters/{{chapter.id}}/edit">Edit</a></div>
                    </div>
                    
                    <input type="hidden" class="chapters_tracker" id="chapters_{{chapter.id}}" name="chapters_{{chapter.id}}" value="{{chapter.number}}">
                </li>
                {% endfor %}
                <input class="uk-button uk-button-link" style="width:15em;" type="submit" value="New Chapter"/>
            </ul>


        </li>
    </ul>
    
</form>
</div>
{% endblock %}